body {
  margin: 0;
  overflow: hidden;
}

.top-nav {
  width: 100vw;
  height: 8vh;
  display: table;
}

.top-nav a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  padding: 1vw;
  display: block;
  height: 100%;
}

.nav-main {
  font-size: 3.5vw;
  color: white;
  background-color: #116e11;
  border: 2px solid black;
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  font-size: 3vw;
  color: #333333;
  border: 2px solid #a9a9a9;
  font-family: 'Oxygen', sans-serif;
}

#nav-left {
  border-radius: 0px 0px 7px 0px;
}

#nav-right {
  border-radius: 0px 0px 0px 7px;
}

.nav-link:hover {
  background-color: #d3d3d3;
}

.top-nav li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.top-nav ul {
  padding: 0px;
  margin: 0px;
  display: table-row;
}

.upload-parent {
  display: flex;
  flex-direction: row;
  height: 92vh;
}

.info-flex {
  width: 55%;
  height: 100%;
}

.upload-flex {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.site-info {
  font-size: 2vw;
  font-family: 'Oxygen', sans-serif;
  padding: 10px;
  margin: 0px;
}

.site-classes {
  font-size: 2vw;
  font-family: 'Oxygen', sans-serif;
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
}

.site-classes li {
  display: inline;
}

.site-image {
  width: 31%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.upload-info {
  font-size: 3vw;
  font-family: 'Oxygen', sans-serif;
  padding: 10px;
  margin: 0px;
  color: #116e11;
  height: 40%;
  text-align: center;
}

.upload-form {
  text-align: center;
  height: 20%;
}

.upload-form input {
  font-size: 2vw;
  font-family: 'Oxygen', sans-serif;
  padding: 5px;
}

.upload-form button {
  font-size: 2vw;
  font-family: 'Oxygen', sans-serif;
  border: 1px solid grey;
  border-radius: 5px;
}
