body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.top-nav {
  width: 100vw;
  height: 13vh;
  display: table;
  position: fixed;
  top: 0;
}

.top-nav a {
  text-decoration: none;
  padding: 2vw;
  font-family: 'Oxygen', sans-serif;
  display: block;
  height: 100%;
}

.nav-main {
  font-size: 4vw;
  color: white;
  background-color: #116e11;
  border: 2px solid black;
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
}

.nav-link {
  font-size: 3vw;
  color: #333333;
  border: 2px solid #a9a9a9;
}

#nav-left {
  border-radius: 0px 0px 7px 0px;
}

#nav-right {
  border-radius: 0px 0px 0px 7px;
}

.nav-link:hover {
  background-color: #d3d3d3;
}

.top-nav li {
  list-style-type: none;
  margin: 0 2vw;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.top-nav ul {
  padding: 0;
  margin: 0;
  display: table-row;
}


.result-parent {
  display: flex;
  height: 87vh;
  flex-direction: column;
  align-items: center;
}

.img-name {
  width: 100%;
  font-size: 4vw;
  font-family: 'Oxygen', sans-serif;
  height: 15%;
  text-align: center;
}

.img-info {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img-file {
  width: 50%;
  padding: 2px;
  padding-top: 20px;
  height: 50vh;
  text-align: center;
}

.img-file img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #d3d3d3;
}

.valid-div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.valid-info {
  height: 40%;
  font-size: 3vw;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

.valid-info strong {
  color: #116e11
}

.valid-form {
  text-align: center;
}

.valid-form p {
  padding: 0px;
  padding-left: 1vw;
  height: 40%;
  font-size: 2.5vw;
  font-family: 'Oxygen', sans-serif;
  margin: 5px;
}

.valid-form select {
  font-size: 2.5vw;
  font-family: 'Oxygen', sans-serif;
  color: #444;
  width: 40%;
  border: 1px solid #aaa;

}

.valid-form select:hover {
  border-color: #888;
}

.valid-form button {
  font-size: 2.5vw;
  font-family: 'Oxygen', sans-serif;
  color: #444;
  width: 30%;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.valid-correct {
  color: #116e11
}

.valid-incorrect {
  color: #FF4C4C
}
